%header#header
  .container
    .pull-left
      = link_to image_tag("logo-flat.png"), root_path
    .pull-right
      %ul.inline
        %li{class: ("active" if action_name == 'index')}
          = link_to "HOME", root_path
        %li{class: ("active" if action_name == 'work')}
          = link_to "WORK", work_path
        %li{class: ("active" if action_name == 'services')}
          = link_to "SERVICES", services_path
        %li{class: ("active" if controller_name == 'inquiries')}
          = link_to "CONTACT", new_inquiry_path
    .clearfix
= yield :subnav