#work
  .row
    .span10.offset1
      %h2.text-center Our work

      %p Lorem ipsum aliqua magna mollit ad pariatur ea ex adipisicing ut tempor fugiat aute eu quis non ut ex enim est et incididunt aliqua laborum Excepteur dolore deserunt anim sed non in reprehenderit in ut laboris voluptate qui adipisicing sed dolore incididunt sit Excepteur fugiat amet officia in est non nostrud aute amet dolor ex minim qui adipisicing amet sed ullamco pariatur ut ut aliquip sed minim dolore cupidatat Excepteur.

  %hr

  #projects
    .row.project
      .span6
        = image_tag "work/gudog.png", class: "snapshot"
      
      .span6
        %h2 Gudog

        .description
          %p Gudog es una plataforma que pone en contacto a cuidadores de perros con experiencia y propietarios de perros. Nuestra plataforma permite que cada propietario encuentre el cuidador perfecto para su mascota, haciendo la reserva de forma cómoda y garantizando el pago seguro

        / %ul
        /   %li Ruby On Rails
        .links
          = link_to "Visit", "http://gudog.com", class: "button"
    
    %hr

    .row.project
      .span6
        = image_tag "work/adopta-gudog.png", class: "snapshot"
      
      .span6
        %h2 Adopta Gudog

        .description
          %p Gudog es una plataforma que pone en contacto a cuidadores de perros con experiencia y propietarios de perros. Nuestra plataforma permite que cada propietario encuentre el cuidador perfecto para su mascota, haciendo la reserva de forma cómoda y garantizando el pago seguro

        / %ul
        /   %li Ruby On Rails
        .links
          = link_to "Visit", "http://adopta.gudog.com", class: "button"

    %hr

    .row.project
      .span6
        = image_tag "work/jurintia.png", class: "snapshot"
      
      .span6
        %h2 Jurintia

        .description
          %p Aplicación web para gestionar de forma ágil y segura tu despacho de procuradoría. Tanto si eres un procurador recien llegado como si tienes un gran despacho con años de experiencia, Jurintia te ayudará a ser más eficiente en tu trabajo.

        / %ul
        /   %li Ruby On Rails
        .links
          = link_to "Visit", "http://jurintia.com", class: "button"

    %hr

    .row.project
      .span6
        = image_tag "work/thickzine.png", class: "snapshot"
      
      .span6
        %h2 Thickzine

        .description
          %p Lorem ipsum irure cupidatat amet elit dolore aliqua commodo dolor in dolore commodo dolor irure id nulla veniam dolore ut. Lorem ipsum quis sed voluptate ea ex occaecat fugiat adipisicing sed ex ex reprehenderit ex sint ullamco labore ea aliqua et reprehenderit occaecat tempor consectetur nulla in. 

        / %ul
        /   %li Ruby On Rails
        .links
          = link_to "Visit", "http://jurintia.com", class: "button"

    %hr

    .row.project
      .span6
        = image_tag "work/versosperfectos.png", class: "snapshot"
      
      .span6
        %h2 Versos Perfectos

        .description
          %p One of our first projects. Lorem ipsum Ut fugiat id minim minim sed incididunt exercitation incididunt sunt ut eiusmod cupidatat Duis ad amet culpa.  

        / %ul
        /   %li Ruby On Rails
        .links
          = link_to "Visit", "http://versosperfectos.com", class: "button"
