#work
  .row
    .span10.offset1
      %h2.text-center THINGS WE ARE PROUD OF

      %p
        We've been in business for a long time so listing here all the projects we have worked on would be quite boring, so here are some of the projects we're most proud of. If you want to see your project here, we should 
        = link_to "get in touch.", new_inquiry_path

  %hr

  #projects
    .row.project
      .span6
        = image_tag "work/gudog.png", class: "snapshot"
      
      .span6
        %h3 Gudog

        .description
          %p
            A p2p marketplace that helps dog owners find a caregiver (dog sitter, dog walker, etc.) for their dogs. 
          %ul.muted
            %li Ruby on Rails
            %li MySQL / Sphinx
            %li HTML5 / CSS3 / CoffeeScript
            %li RSpec / Cucumber / Capybara
            %li Paypal Adaptive Payments API
        / %ul
        /   %li Ruby On Rails
        .links
          = link_to "Visit", "http://gudog.com", class: "button", target: '_blank'
    
    %hr

    .row.project
      .span6
        = image_tag "work/adopta-gudog.png", class: "snapshot"
      
      .span6
        %h3 Adopta Gudog

        .description
          %p 
            Side project from Gudog that aims to promote dog adoption, helping dog shelters to spread the word about the dogs they have in adoption.

          %ul.muted
            %li Ruby on Rails
            %li MongoDB
            %li HTML5 / CSS3 / CoffeeScript
            %li RSpec / Capybara

        .links
          = link_to "Visit", "http://adopta.gudog.com", class: "button", target: '_blank'

    %hr
    .row.project
      .span6
        = image_tag "work/sprak.png", class: "snapshot"
    
      .span6
        %h3 Språk

        .description
          %p 
            Exprimental open source app built during the LAUNCH Hackathon 2013 in San Francisco. Winner of the second prize from Tokbox.

          %ul.muted
            %li Ruby on Rails
            %li WebRTC / P2P Video chat
            %li HTML5 / CSS3 / CoffeeScript

        .links
          = link_to "View code", "http://github.com/diacode/sprak", class: "button", target: '_blank'

    %hr

    .row.project
      .span6
        = image_tag "work/jurintia.png", class: "snapshot"
      
      .span6
        %h3 Jurintia

        .description
          %p 
            A web appications for helping solicitors (a special type of attorney) in their daily job. You can think about it as a full project manager for solicitors.

          %ul.muted
            %li Ruby on Rails
            %li MySQL / Sphinx
            %li HTML5 / CSS3 / CoffeeScript
            %li RSpec / Capybara
            %li OCR

        / %ul
        /   %li Ruby On Rails
        .links
          = link_to "Visit", "http://jurintia.com", class: "button", target: '_blank'

    %hr

    .row.project
      .span6
        = image_tag "work/thickzine.png", class: "snapshot"
      
      .span6
        %h3 Thickzine

        .description
          %p 
            Webzine in Spanish about design, longboard, music and trash culture.
          %ul.muted
            %li Ruby on Rails
            %li MySQL
            %li RSpec / Capybara
            %li HTML5 / CSS3 / CoffeeScript

        .links
          = link_to "Visit", "http://thickzine.com", class: "button", target: '_blank'

    %hr

    .row.project
      .span6
        = image_tag "work/versosperfectos.png", class: "snapshot"
      
      .span6
        %h3 Versos Perfectos

        .description
          %p
            Hip Hop database and webzine in spanish. It's and old project (launched on 2008) and is still the most recognized website in the spanish Hip Hop scene. It features a complex database with data from more than 3500 different artists, including discography, lyrics, bio and pictures.
          %ul.muted
            %li PHP
            %li Doctrine as ORM
            %li MySQL
            %li Homegrown framework
        .links
          = link_to "Visit", "http://versosperfectos.com", class: "button", target: '_blank'
