#contact
  %h2.text-center LET'S TALK
  = form_for @inquiry do |f|
    .row
      .span8.offset2
        - if @inquiry.errors.any?
          .alert.alert-error
            %p There are empty fields.

        - if flash[:notice]
          .alert.alert-success
            %p= flash[:notice]

    .row
      .span3.offset2
        = f.label :name
        = f.text_field :name, class: 'span3'
        = f.label :email
        = f.email_field :email, class: 'span3'
        = f.label :phone
        = f.text_field :phone, class: 'span3'
        = f.label :interested_in
        = f.select :interested_in, options_for_select(['Development', 'Training', 'Consultancy', 'Other']), class: 'span3'

      .span5 
        = f.label :message
        = f.text_area :message, class: 'span5', rows: '8'

        = submit_tag "Send", class: 'button'


  %hr
    %p.text-center.muted
      Prefer a simple email? 
      %br
      %i.icon-envelope
      %em hello@diacode.com